/* Application styling root file */

@import "base/_module.scss";
@import "components/_module.scss";
@import "layout/_module.scss";
@import "pages/_module.scss";
@import "themes/_module.scss";

@import "~bootstrap/dist/css/bootstrap.css";
