:root {
    --primary: var(--bs-primary);
}

.template-list .position-type {
    color: blue;
}

.header-container {
    display: flex;
    flex-direction: row;
    background-color: #f3f4f5;
}
.header-nav {
    flex-grow: 1;
}

.header-nav .navbar .nav-item .nav-link {
    font-weight: bold;
    border-radius: 3px;
}

.header-nav .navbar .nav-item {
    margin-right: 4px;
}

.header-nav .navbar .nav-link:hover {
    background: rgba(167, 182, 194, 0.3);
    color: var(--primary);
}
.header-nav .navbar .nav-link:active {
    background: rgba(167, 182, 194, 0.4);
    color: var(--primary);
}
.header-nav .navbar .nav-link.active:hover {
    color: var(--primary);
}
.header-nav .navbar .primary-nav-links .nav-link.active {
    background-color: unset;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    border-radius: unset;
}

.header-nav .navbar,
.header-nav .navbar .nav-link {
    padding-bottom: 3px;
    padding-top: 4px;
}

.header-nav .active {
    background: rgba(167, 182, 194, 0.4);
}
.header-nav .secondary-nav-links .nav-link.active {
    color: white;
    background-color: rgba(0, 123, 255, 0.7);
    text-shadow: rgb(0, 123, 255) 0 0 7px;
}

.header-nav .secondary-nav-links .nav-link {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
}

.header-nav .secondary-nav-links .nav-item {
    margin-left: 4px;
}

.secondary-nav-links {
    padding-bottom: 3px;
}

.header-widgets {
    display: flex;
    align-items: center;
}

.delete-button-container {
    text-align: center;
}

.delete-row-button.disabled,
.delete-row-button.disabled:hover {
    color: rgb(180, 180, 180);
    cursor: default;
}

.delete-row-button {
    transition: color 0.2s;
    cursor: pointer;
}
.delete-row-button:hover {
    color: var(--danger);
}

.delete-row-column-header-icon {
    color: var(--danger);
}

.input-row-icon {
    align-self: center;
}

.form-row .input-row-icon {
    margin-top: 16px;
}

.add-duty-btn-icon {
    margin-right: 0.8em;
    margin-bottom: 0.3em;
}

.details-button-container {
    text-align: center;
}
.details-button-container a {
    color: unset;
}

.details-row-button.disabled,
.details-row-button.disabled:hover {
    color: rgb(180, 180, 180);
    cursor: default;
}

.details-row-button {
    transition: color 0.2s;
    cursor: pointer;
}
.details-row-button:hover {
    color: var(--primary);
}

.details-row-column-header-icon {
    color: var(--primary);
}

.form-cell {
    min-width: 5em;
}

.applicant-rating-container {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}
.applicant-rating-container.expanded > div:first-child {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.5rem;
}
.applicant-rating-container.expanded > div:last-child {
    flex-grow: 1;
    flex-shrink: 1;
}

.applicant-rating-buttons .btn,
.applicant-rating-container.compact .btn {
    padding: 0px 3px;
    display: flex;
    height: 20px;
    align-items: center;
    border-radius: 0pt;
}
.applicant-rating-buttons .btn.btn-outline,
.applicant-rating-container .btn.no-comment {
    color: #a2a7ab;
}
.btn.add-comment:hover,
.applicant-rating-buttons .btn.btn-outline:hover {
    color: var(--secondary);
}
.applicant-rating-container .comment-container {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    font-size: smaller;
    color: var(--info);
}
.applicant-rating-container .add-comment {
    margin-left: 5px;
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    overflow: hidden;
}
.applicant-rating-container .add-comment:hover .comment-icon.full {
    color: #138496;
}
.applicant-rating-container .comment-icon {
    display: flex;
    justify-content: center;
    margin-left: 4px;
}
.applicant-rating-container .comment-icon.full {
    color: var(--info);
}

div.p {
    margin-top: 0px;
    margin-bottom: 1rem;
}

.display-rating {
    padding: 0px 3px;
}
.display-rating-container {
    display: inline-block;
}
.applicant-rating-container.expanded .large-rating-button {
    display: flex;
}
.large-rating-button > div:first-child {
    width: 3em;
}
