.template-list .position-type {
    color: blue;
}

.header-container {
    display: flex;
    flex-direction: row;
    background-color: #f3f4f5;
}
.header-nav {
    flex-grow: 1;
}

.header-nav .navbar .nav-item .nav-link {
    font-weight: bold;
    border-radius: 3px;
}

.header-nav .navbar .nav-item {
    margin-right: 4px;
}

.header-nav .navbar .nav-link:hover {
    background: rgba(167, 182, 194, 0.3);
    color: var(--primary);
}
.header-nav .navbar .nav-link:active {
    background: rgba(167, 182, 194, 0.4);
    color: var(--primary);
}
.header-nav .navbar .nav-link.active:hover {
    color: var(--primary);
}
.header-nav .navbar .primary-nav-links .nav-link.active {
    background-color: unset;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    border-radius: unset;
}

.header-nav .navbar,
.header-nav .navbar .nav-link {
    padding-bottom: 3px;
    padding-top: 4px;
}

.header-nav .active {
    background: rgba(167, 182, 194, 0.4);
}
.header-nav .secondary-nav-links .nav-link.active {
    color: white;
    background-color: rgba(0, 123, 255, 0.7);
    text-shadow: rgb(0, 123, 255) 0 0 7px;
}

.header-nav .secondary-nav-links .nav-link {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
}

.header-nav .secondary-nav-links .nav-item {
    margin-left: 4px;
}

.secondary-nav-links {
    padding-bottom: 3px;
}

.header-widgets {
    display: flex;
    align-items: center;
}

.delete-button-container {
    text-align: center;
}

.delete-instructor-button.disabled,
.delete-instructor-button.disabled:hover {
    color: rgb(180, 180, 180);
    cursor: default;
}

.delete-instructor-button {
    transition: color 0.2s;
    cursor: pointer;
}
.delete-instructor-button:hover {
    color: var(--danger);
}

.delete-instructor-column-header-icon {
    color: var(--danger);
}

.input-row-icon {
    align-self: center;
}

.form-row .input-row-icon {
    margin-top: 16px;
}

.add-duty-btn-icon {
    margin-right: 0.8em;
    margin-bottom: 0.3em;
}

.filter-chip {
    margin-left: 1em;
}

.filter-chip-icon {
    margin-left: 0.5em;
    margin-bottom: 1px;
    transition: color 0.2s;
    cursor: pointer;
}

.filter-chip-icon:hover {
    color: var(--danger);
}

.number-cell {
    text-align: right;
}
