.show-on-hover-wrapper {
    min-height: 2.5ex;
    position: relative;
}

.show-on-hover-wrapper:hover .show-on-hover {
    opacity: 1;
}

.show-on-hover {
    transition: all 0.3s;
    opacity: 0;
}

.edit-glyph {
    cursor: pointer;
    position: absolute;
    right: 2px;
    bottom: 0;
}

.edit-glyph:hover {
    color: var(--primary);
    transition: all 0.3s;
}
.field-dialog-change-content {
    margin-top: 1em;
}
.field-dialog-formatted-name {
    margin-left: 1em;
    white-space: pre-wrap;
    font-family: monospace;
    color: var(--primary);
}
.field-dialog-formatted-name::before,
.field-dialog-formatted-name::after {
    content: "'";
    color: initial;
}
