.filter-chip.badge {
    margin-left: 0.5em;
    font-size: 90%;
}

.filter-chip-icon {
    margin-left: 0.5em;
    margin-bottom: 1px;
    transition: color 0.2s;
    cursor: pointer;
}

.filter-chip-icon:hover {
    color: var(--danger);
}

.filter-table-filtering-by {
    margin-left: 1em;
    color: var(--secondary);
}

.filter-table-container {
    flex-grow: 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.filter-table-container .table {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.filter-table-container .table .tbody {
    flex-grow: 1;
}

.filter-item-count {
    float: right;
    margin-top: 8px;
    color: var(--gray);
    font-style: italic;
}

.filter-item-count::after {
    content: " rows showing";
}

.ScrollbarsCustom-TrackX {
    bottom: 28px !important;
}

.number-cell {
    text-align: right;
}

.table {
    overflow: hidden;
}

.tbody {
    overflow: hidden;
}

.table-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
}

.table-header > input[type="checkbox"] {
    margin-top: 4px;
}

.table .resizer {
    display: inline-block;
    width: 11px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(6px);
    z-index: 1;
}

.table .resizer.isResizing {
    background: rgba(167, 182, 194, 0.1);
}

.thead,
.hidden-row-warning {
    user-select: none;
    overflow-x: hidden;
}

.th {
    text-align: center;
    font-size: 105%;
    border-bottom: 2px solid rgba(167, 182, 194, 0.4);
    border-right: 1px solid rgba(167, 182, 194, 0.4);
    align-items: center;
    overflow: hidden;
}

.th > * {
    flex-grow: 1;
    text-align: center;
}

.column-sort-icon {
    position: absolute;
    right: 5px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.tr {
    border-bottom: 1px solid rgba(167, 182, 194, 0.2);
}

.td {
    border-right: 1px solid rgba(167, 182, 194, 0.4);
    padding: 2px 2px 2px 0.7em;
    white-space: nowrap;
    text-align: center;
    width: fit-content;
    position: relative;
    overflow: hidden;
}

.delete-col,
.details-col,
.selection-checkbox {
    padding-left: 0;
    padding-right: 0;
}

.hidden-row-warning {
    box-shadow: inset 0 -3px 8px -6px rgba(167, 182, 194, 0.5);
    text-align: center;
    font-size: smaller;
    font-style: italic;
    color: var(--gray);
}

.hidden-row-warning::before {
    content: "⋮";
    float: left;
    font-weight: bold;
    width: 45px;
}
