.sv_q_required_text {
    color: red;
    font-weight: bold;
}

table.sd-table.sd-matrix__table thead {
    position: sticky;
    top: 0;
    border-top: 0;
    z-index: 100;
    background: white;
}
.sd-question.sd-question--table {
    position: unset !important;
    overflow: unset !important;
}