/* DDAH Styles */
.accepted-ddah {
    color: var(--success);
}
.rejected-ddah,
.hours-mismatch-ddah {
    color: var(--danger);
}

.missing-ddah {
    color: var(--gray);
    font-style: italic;
}

.ddah-preview-container h4 {
    text-align: center;
}
.ddah-preview-container li {
    list-style: none;
}
.ddah-duty-hours {
    width: 3em;
    display: inline-block;
    text-align: right;
    padding-right: 0.5em;
    margin-right: 0.5em;
}
.ddah-preview-container li:last-child .ddah-duty-hours {
    border-top: 1px solid black;
    font-style: italic;
}
.ddah-preview-container li:last-child .ddah-duty-description {
    font-style: italic;
}

.add-ddah-hours-mismatch {
    color: var(--red);
    font-weight: bold;
}

.ddah-duty-category {
    width: 8em;
    display: inline-block;
}

.ddah-duty-category.meeting::after {
    content: "Meetings";
    color: var(--orange);
}
.ddah-duty-category.prep::after {
    content: "Preparation";
    color: var(--pink);
}
.ddah-duty-category.contact::after {
    content: "Contact time";
    color: var(--green);
}
.ddah-duty-category.other::after {
    content: "Other duties";
    color: var(--cyan);
}
.ddah-duty-category.marking::after {
    content: "Marking/Grading";
    color: var(--blue);
}
.ddah-duty-category.training::after {
    content: "Training";
    color: var(--purple);
}
