// Global variables

$footer-height: 4vh; /* includes margins */
$navbar-height: 71px; /* includes margins */
$table-menu-height: calc(34px + 1vh);
$main-div-height: calc(100vh - #{$navbar-height} - #{$footer-height});
$min-row-height: 32px;
$course-list-panel-width: calc(15em + 8px); /* includes margins */
$closed-panel-height: 47px; /* includes top margin */
$sessions-height: calc(55px + 1.5vh);

html,
body,
#root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
}

.full-width {
    width: 100%
}