// TODO: refactor to component and split this file into two
/* for ApplicantTable in Assigned/Unassigned view */

#unassigned-grid,
#assigned-grid {
    .table-container {
        margin-top: 1vh;
    }

    .table-body {
        /* note that this assumes that the header is at most one row high */
        max-height: calc(#{$main-div-height} - #{$table-menu-height} - #{$min-row-height});
        overflow: auto;
    }
}
